    <div id="form_basic" role="main" class="ui-content" style="padding: 10%;">
        <h1 is="gk-text">Basic</h1>
<fieldset data-role="controlgroup" data-type="horizontal">
        <legend>Search area</legend>
        <input type="radio" name="area2" id="area2-1" value="area2-1">
        <label for="area2-1">Whole city</label>
        <input type="radio" name="area2" id="area2-2" value="area2-2">
        <label for="area2-2">Without suburbs</label>
        <input type="radio" name="area2" id="area2-3" value="area2-3">
        <label for="area2-3">Only city center</label>
</fieldset>
<br/>
      <fieldset data-role="controlgroup" data-type="horizontal">
        <legend>Occupation</legend>
        <input type="radio" name="radio-choice-1" id="radio-choice-1" value="choice-1">
        <label for="radio-choice-1">Student</label>
        <input type="radio" name="radio-choice-1" id="radio-choice-2" value="choice-2">
        <label for="radio-choice-2">Working</label>
        <input type="radio" name="radio-choice-1" id="radio-choice-3" value="choice-3">
        <label for="radio-choice-3">Pensioner</label>
      </fieldset>

  <div class="ui-field-contain" style="display: none;" id="faculty_dropdown">
      <label for="faculty_selector">Faculty</label>
      <select id="faculty_selector">
        <option value="option1">Faculty of Medicine</option>
        <option value="option2">Faculty of Law</option>
        <option value="option3">Faculty of Science and Technology</option>
        <option value="option4">Faculty of Economics and Business Administration</option>
        <option value="option5">Faculty of Mathematics and Computer Science</option>
        <option value="option6">Faculty of Exercise and Sport Sciences</option>
        <option value="option7">Faculty of Philosophy </option>
        <option value="option8">Faculty of Social Sciences and Education</option>
      </select>
    </div>
<script>
$(document).ready(function() {
$('#radio-choice-1').change( function() {  
        if($('#radio-choice-1').is(':checked')) { 
                $('#faculty_dropdown').css('display', 'block');
         }
        else {
                $('#faculty_dropdown').css('display', 'none');
        }
}); 
$('#radio-choice-2').change( function() {  
        if($('#radio-choice-1').is(':checked')) { 
                $('#faculty_dropdown').css('display', 'block');
         }
        else {
                $('#faculty_dropdown').css('display', 'none');
        }
}); 
$('#radio-choice-3').change( function() {  
        if($('#radio-choice-1').is(':checked')) { 
                $('#faculty_dropdown').css('display', 'block');
         }
        else {
                $('#faculty_dropdown').css('display', 'none');
        }
}); 
                 
}); 
</script>
      <br>
      <div class="ui-field-contain">
        <label for="public_transportation" class>Public transportation</label>
        <input id="public_transportation" value="5" min="0" max="10" type="range">
      </div>
      <br>
      <fieldset data-role="controlgroup" data-type="horizontal">
        <legend>Car:</legend>
        <input type="radio" name="radio-choice-2" id="radio-choice-4" value="choice-4">
        <label for="radio-choice-4">Yes</label>
        <input type="radio" name="radio-choice-2" id="radio-choice-5" value="choice-5">
        <label for="radio-choice-5">No</label>
      </fieldset>
      <br>
      <div class="ui-field-contain">
        <label for="social_life">Social life</label>
        <input id="social_life" value="5" min="0" max="10" type="range">
      </div>
      <br>
      <div class="ui-field-contain">
        <label for="cultural_life">Cultural life</label>
        <input id="cultural_life" value="5" min="0" max="10" type="range">
      </div>
      <br>
      <div class="ui-field-contain">
        <label for="sport_activities">Sport activities</label>
        <input id="sport_activities" value="5" min="0" max="10" type="range">
      </div>
      <br>
      <fieldset data-role="controlgroup" data-type="horizontal">
        <legend>Kids:</legend>
        <input type="radio" name="radio-choice-3" id="radio-choice-6" value="choice-6">
        <label for="radio-choice-6">Yes</label>
        <input type="radio" name="radio-choice-3" id="radio-choice-7" value="choice-7">
        <label for="radio-choice-7">No</label>
      </fieldset>
    </div>
