<fieldset data-role="controlgroup" data-type="horizontal">
        <input type="radio" name="area" id="area-1" value="area-1">
        <label for="area-1">Whole city</label>
        <input type="radio" name="area" id="area-2" value="area-2">
        <label for="area-2">Without suburbs</label>
        <input type="radio" name="area" id="area-3" value="area-3">
        <label for="area-3">Only city center</label>
</fieldset>


<div class="ui-field-contain">
<label for="atm" class>atm</label>
<input id="atm" value="0" min="0" max="100" type="range">
</div>

<div class="ui-field-contain">
<label for="bar_cafe" class>bar_cafe</label>
<input id="bar_cafe" value="0" min="0" max="100" type="range">
</div>

<div class="ui-field-contain">
<label for="bus_stop" class>bus_stop</label>
<input id="bus_stop" value="0" min="0" max="100" type="range">
</div>

<div class="ui-field-contain">
<label for="culture" class>culture</label>
<input id="culture" value="0" min="0" max="100" type="range">
</div>

<div class="ui-field-contain">
<label for="c_parking" class>c_parking</label>
<input id="c_parking" value="0" min="0" max="100" type="range">
</div>

<div class="ui-field-contain">
<label for="fast_food" class>fast_food</label>
<input id="fast_food" value="0" min="0" max="100" type="range">
</div>

<div class="ui-field-contain">
<label for="fire_polic" class>fire_polic</label>
<input id="fire_polic" value="0" min="0" max="100" type="range">
</div>

<div class="ui-field-contain">
<label for="hospital" class>hospital</label>
<input id="hospital" value="0" min="0" max="100" type="range">
</div>

<div class="ui-field-contain">
<label for="kindergard" class>kindergard</label>
<input id="kindergard" value="0" min="0" max="100" type="range">
</div>

<div class="ui-field-contain">
<label for="library" class>library</label>
<input id="library" value="0" min="0" max="100" type="range">
</div>

<div class="ui-field-contain">
<label for="market" class>market</label>
<input id="market" value="0" min="0" max="100" type="range">
</div>

<div class="ui-field-contain">
<label for="museum" class>museum</label>
<input id="museum" value="0" min="0" max="100" type="range">
</div>

<div class="ui-field-contain">
<label for="pharmacy" class>pharmacy</label>
<input id="pharmacy" value="0" min="0" max="100" type="range">
</div>

<div class="ui-field-contain">
<label for="playground" class>playground</label>
<input id="playground" value="0" min="0" max="100" type="range">
</div>

<div class="ui-field-contain">
<label for="post_box" class>post_box</label>
<input id="post_box" value="0" min="0" max="100" type="range">
</div>

<div class="ui-field-contain">
<label for="restaurant" class>restaurant</label>
<input id="restaurant" value="0" min="0" max="100" type="range">
</div>

<div class="ui-field-contain">
<label for="school" class>school</label>
<input id="school" value="0" min="0" max="100" type="range">
</div>

<div class="ui-field-contain">
<label for="shops" class>shops</label>
<input id="shops" value="0" min="0" max="100" type="range">
</div>

<div class="ui-field-contain">
<label for="sport" class>sport</label>
<input id="sport" value="0" min="0" max="100" type="range">
</div>

<div class="ui-field-contain">
<label for="u_bussines" class>u_bussines</label>
<input id="u_bussines" value="0" min="0" max="100" type="range">
</div>

<div class="ui-field-contain">
<label for="u_computer" class>u_computer</label>
<input id="u_computer" value="0" min="0" max="100" type="range">
</div>

<div class="ui-field-contain">
<label for="u_law" class>u_law</label>
<input id="u_law" value="0" min="0" max="100" type="range">
</div>

<div class="ui-field-contain">
<label for="u_medicine" class>u_medicine</label>
<input id="u_medicine" value="0" min="0" max="100" type="range">
</div>

<div class="ui-field-contain">
<label for="u_philosop" class>u_philosop</label>
<input id="u_philosop" value="0" min="0" max="100" type="range">
</div>

<div class="ui-field-contain">
<label for="u_science" class>u_science</label>
<input id="u_science" value="0" min="0" max="100" type="range">
</div>

<div class="ui-field-contain">
<label for="u_sport" class>u_sport</label>
<input id="u_sport" value="0" min="0" max="100" type="range">
</div>

<div class="ui-field-contain">
<label for="waste" class>waste</label>
<input id="waste" value="0" min="0" max="100" type="range">
</div>

<div class="ui-field-contain">
<label for="wood" class>wood</label>
<input id="wood" value="0" min="0" max="100" type="range">
</div>


