  <link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/themes/css/cartodb.css" />
  <script src="http://libs.cartocdn.com/cartodb.js/v3/cartodb.js"></script>

  <!--[if lte IE 8]>
    <link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v2/themes/css/cartodb.ie.css" />
  <![endif]-->


  <!-- JQUERY START -->
  <meta name="viewport" content="width=device-width, user-scalable=no">
 <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/2.1.2/normalize.min.css"> 
    <link rel="stylesheet" href="//code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">   
<!--   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>  -->
<script src="jquery.min.js"></script>
  <script>
    $(document).on("mobileinit", function () {
      $.mobile.autoInitializePage = false;
      $.mobile.hashListeningEnabled = false;
    });

    function mobileInitPage() {
      $.mobile.hashListeningEnabled = true;
      $.mobile.initializePage();
    }
  </script>
  <script src="//code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
  <!-- Uncomment the following to include cordova in your app project -->
  <!-- <script src="//ezoui.com/platforms/android_or_ios/cordova.js"></script> -->
  <!-- GK Loader use RequireJS to load module -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.16/require.min.js"></script>
  <!--Plug in GK-->
  <!--  <script src="//ezoui.com/components/jquery.gk/jquery.gk.min.js"></script> -->
<script src="jquery.gk/jquery.gk.min.js"></script>
  <!-- Load GK components -->
  <!--  <script components="//ezoui.com/components/gk-ext/gk-text.html" callback="mobileInitPage" src="//ezoui.com/components/gk-loader/gk-loader.min.js"></script> -->
<script components="gk-ext/gk-text.html" callback="mobileInitPage" src="gk-loader/gk-loader.min.js"></script> 
  <!-- JQUERY END -->

