<div id='legend' class='cartodb-legend choropleth' >	
      <div class="ui-field-contain" style="text-align: center">
        <input id="limit" value="100" min="1" max="100" type="range">
      </div>
<ul>
	<li class="min">
		0
	</li>
	<li class="max">
		1
	</li>
	<li class="graph count_1197">
	<div class="colors">
	<div class="quartile" style="background-color:#ff0000"></div>
	<div class="quartile" style="background-color:#ff2b00"></div>
	<div class="quartile" style="background-color:#ff5500"></div>
	<div class="quartile" style="background-color:#ff8000"></div>
	<div class="quartile" style="background-color:#ffaa00"></div>
	<div class="quartile" style="background-color:#ffd500"></div>
	<div class="quartile" style="background-color:#ffff00"></div>
	<div class="quartile" style="background-color:#d5ff00"></div>
	<div class="quartile" style="background-color:#aaff00"></div>
	<div class="quartile" style="background-color:#80ff00"></div>
	<div class="quartile" style="background-color:#55ff00"></div>
	<div class="quartile" style="background-color:#00ff00"></div>
	<div class="quartile" style="background-color:#00ff00"></div>
	<div class="quartile" style="background-color:#00ffff"></div>
	<div class="quartile" style="background-color:#00d5ff"></div>
	<div class="quartile" style="background-color:#00aaff"></div>
	<div class="quartile" style="background-color:#0080ff"></div>
	<div class="quartile" style="background-color:#0055ff"></div>
	<div class="quartile" style="background-color:#0000ff"></div>
	</div>
	</li>
</ul>
        <br/>
      <fieldset data-role="controlgroup" data-type="horizontal">
        <input type="radio" name="scale" id="scale-1" value="scale-1">
        <label for="scale-1">Fixed</label>
        <input type="radio" name="scale" id="scale-2" value="scale-2" checked>
        <label for="scale-2">Ventile</label>
      </fieldset>

      <a class="ui-btn" id="choose_btn">Choose</a>

</div>


